<div id="divForBody">



<div id="divIndex">

    <a href="{{ path('bibliothouris_insert') }}">Insert Book</a>
        </br>
    <a href="{{ path('bibliothouris_list') }}">Book List</a>
        </br>
    <a href="{{ path('bibliothouris_index') }}">First Page</a>
    </br>
    <a href="{{ path('bibliothouris_borrowedBooks') }}">Your Borrowed Books</a>


</div>