{% extends 'base.html.twig' %}

{% block body %}
<div id="id1">
    <form id="formular" action="{{ url('bibliothouris_save')  }}" method="POST">

        <label>
            <span>Book name      </span>

        </label>
        <input type="text" name="name" placeholder="ISBN (mandatory)" />
        <br/>

        <label>
            <span>Author     </span>

        </label>
        <input type="text" name="author" placeholder="Author (mandatory)" />
        <br/>


        <button id="submit-add-form" type="submit">Submit</button>





    </form>


</div>
{% endblock %}