<!DOCTYPE html>
<html>
<head>
    <title>Books</title>

</head>
<body>

<script src="js/main.js"></script>
<div id="id1">
    <form id="formular" action="{{ url('bibliothouris_save')  }}" method="POST">

        <label>
            <span>Book name      </span>

        </label>
        <input type="text" name="name" placeholder="ISBN (mandatory)" />
        <br/>

        {#<label>#}
            {#<span>Book Title     </span>#}
            {#<input type="text" name="title" placeholder="Book title" />#}
        {#</label>#}
        {#<br/>#}

        {#<label>#}
            {#<span>Author Last Name</span>#}
            {#<input type="text" name="firstName" placeholder="Author first name" />#}
        {#</label>#}
        {#<br/>#}

        {#<label>#}
            {#<span>Author First Name</span>#}
            {#<input type="text" name="lastName" placeholder="Author last name" />#}
        {#</label>#}
        {#<br/>#}



        <button id="submit-add-form" type="submit">Submit</button>




    </form>

    <a href="{{ path('www.php.dev/app_dev.php/books/list') }}#home">Home</a>

</div>


</body>
</html>