.divStyleTable {
    margin:0px;padding:0px;
    width:100%;
    box-shadow: 10px 10px 5px #888888;
    border:1px solid #000000;

    -moz-border-radius-bottomleft:25px;
    -webkit-border-bottom-left-radius:25px;
    border-bottom-left-radius:25px;

    -moz-border-radius-bottomright:25px;
    -webkit-border-bottom-right-radius:25px;
    border-bottom-right-radius:25px;

    -moz-border-radius-topright:25px;
    -webkit-border-top-right-radius:25px;
    border-top-right-radius:25px;

    -moz-border-radius-topleft:25px;
    -webkit-border-top-left-radius:25px;
    border-top-left-radius:25px;
}.divStyleTable table{
     border-collapse: collapse;
     border-spacing: 0;
     width:100%;
     height:100%;
     margin:0px;padding:0px;
 }.divStyleTable tr:last-child td:last-child {
      -moz-border-radius-bottomright:25px;
      -webkit-border-bottom-right-radius:25px;
      border-bottom-right-radius:25px;
  }
.divStyleTable table tr:first-child td:first-child {
    -moz-border-radius-topleft:25px;
    -webkit-border-top-left-radius:25px;
    border-top-left-radius:25px;
}
.divStyleTable table tr:first-child td:last-child {
    -moz-border-radius-topright:25px;
    -webkit-border-top-right-radius:25px;
    border-top-right-radius:25px;
}.divStyleTable tr:last-child td:first-child{
     -moz-border-radius-bottomleft:25px;
     -webkit-border-bottom-left-radius:25px;
     border-bottom-left-radius:25px;
 }.divStyleTable tr:hover td{

  }
.divStyleTable tr:nth-child(odd){ background-color:#ffaa56; }
.divStyleTable tr:nth-child(even)    { background-color:#ffffff; }.divStyleTable td{
                                                                          vertical-align:middle;


                                                                          border:1px solid #000000;
                                                                          border-width:0px 1px 1px 0px;
                                                                          text-align:right;
                                                                          padding:16px;
                                                                          font-size:15px;
                                                                          font-family:Comic Sans MS;
                                                                          font-weight:normal;
                                                                          color:#000000;
                                                                      }.divStyleTable tr:last-child td{
                                                                           border-width:0px 1px 0px 0px;
                                                                       }.divStyleTable tr td:last-child{
                                                                            border-width:0px 0px 1px 0px;
                                                                        }.divStyleTable tr:last-child td:last-child{
                                                                             border-width:0px 0px 0px 0px;
                                                                         }
.divStyleTable tr:first-child td{
    background:-o-linear-gradient(bottom, #512626 5%, #d6751b 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #512626), color-stop(1, #d6751b) );
    background:-moz-linear-gradient( center top, #512626 5%, #d6751b 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#512626", endColorstr="#d6751b");	background: -o-linear-gradient(top,#512626,d6751b);

    background-color:#512626;
    border:0px solid #000000;
    text-align:center;
    border-width:0px 0px 1px 1px;
    font-size:22px;
    font-family:Comic Sans MS;
    font-weight:bold;
    color:#ffffff;
}
.divStyleTable tr:first-child:hover td{
    background:-o-linear-gradient(bottom, #512626 5%, #d6751b 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #512626), color-stop(1, #d6751b) );
    background:-moz-linear-gradient( center top, #512626 5%, #d6751b 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#512626", endColorstr="#d6751b");	background: -o-linear-gradient(top,#512626,d6751b);

    background-color:#512626;
}
.divStyleTable tr:first-child td:first-child{
    border-width:0px 0px 1px 0px;
}
.divStyleTable tr:first-child td:last-child{
    border-width:0px 0px 1px 1px;
}




#divIndex{
    border: 1px solid black;
    float: left;
}


#divForBody{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 30px;
    margin-left: 30px;
    border: 5px solid brown;

}