<html>



    <form id="formular" name="signIn" action="http://www.php.dev/app_dev.php/user/login" method="POST">

        <label>
            <span>Member      </span>

        </label>
        <input type="text" name="username"  required/>
        <br/>

        <label>
            <span>Password    </span>
            <input type="password" name="password"  required />
        </label>
        <br/>


        <button id="submit-add-form" type="submit">Submit</button>
        <button onclick="reloadFunction()">Cancel</button>




    </form>


    </html>